* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}
.page-body {
  text-align: center;
  margin: 3rem;
  height: 110vh;
}

/* ---HEADER--- */
header {
  background-color: #ff9801;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-right: 50px;
}

/* ---INDEX--- */
.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.card.card-body {
  width: 300px;
  background-color: #ffc774;
  margin: 20px;
}

/* ---NAV--- */
a {
  color: black !important;
  text-decoration: none !important;
}
a:hover {
  cursor: pointer !important;
  color: black !important;
  text-decoration: underline !important;
}

/* ---NOT FOUND--- */
.page-body {
  width: 400px;
  border: 1px solid white;
  border-radius: 10px;
}

/* ---FOOTER--- */
footer {
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ff9801;
  display: flex;
  justify-content: space-around;
}

form {
  margin-left: 20%;
  margin-right: 20%;
}
input {
  text-align: center;
}
div.form-group {
  margin-bottom: 15px;
}